<div class="jumbotron">
    <h1>E-Policy Insurance Portal</h1>
    <p class="lead">“YCompany” server more than 200 million customers across various geographies. This application provices a single places for all types of customers regarding the services offered by the company. </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>“YCompany” is one of the renowned name in Insurance providers in industry providing term and life insurance to customers in US. The company's product offerings include term and life insurance</p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Underwriting Service, Document Repository, Mainframe access.</p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>@Html.ActionLink("Life Insurance Products", "Index", "ProductUI")</p>
        <p>@Html.ActionLink("Term Insurance Products", "Index", "ProductUI")</p>
        <p>Other Insurance products</p>
    </div>
</div>
